html, body {
    height: 100%;
    margin: 0;  
}




header {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1f2937;
    color: #f9faf8;
    min-height: 5vh;
    padding: 0;
}

    .header {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .headLogo {
        font-weight: 600;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: #f9faf8;
        font-weight: 300;
        font-family: 'Courier New', Courier, monospace;
    }



    
.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    font-family: myFont;
    height: 100%;
}

.sec {
    height: 25%;
}

@font-face {
    font-family: myFont;
    src: url(font/Roboto-Black.ttf);
}



.sec1 {
    display: flex;
    flex-direction: row;
    height: 400px;
    background: #1f2937;
    justify-content: space-around;
    padding: 20px;
}

    .secLeft {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-basis: 800px;
        align-items: start;
        justify-content: center;
        padding: 20px;
    }

    .heroText {
        font-size: 48px;
        font-weight: 900;
        color: #f9faf8;
    }

    .subtext {
        font-size: 18px;
        color: #e5e7eb;
    }

    .button1 {
        background-color: #3882f6;
        font-size: 22px;
        color: #e5e7eb;
        border-radius: 8px;
        border: none;
        width: 120px;
        height: 50px;
        font-weight: 600;
    }

    .secRight {
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    img {
        width: auto;
        height: 300px;
        border-radius: 10px;
    }



.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9faf8;
    padding: 20px;

}

    .infoText {
        font-size: 36px;
        font-weight: 900;
        color: #1f2937
    }

    .infoBoxContainer {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding: 20px;
        justify-content: space-evenly;
    }

    .infoBoxSection {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .infoBox {
        border: #3882f6;
        border-style: solid;
        border-width: 4px;
        border-radius: 10%;
        height: 150px;
        width: 150px;
        
    }




.sec3 {
    background: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .quoteCon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }

    .quote {
        font-size: 36px;
        font-family: 'Times New Roman', Times, serif;
    }

    .quoteAut {
        font-size: 16px;
    }




.sec4 {
    background: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .signCon {
        border-radius: 10px;
        background-color: #3882f6;
        width: 880px;
        height: 120px;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

        .callout {
            color: #f9faf8;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .calloutCall {
            font-size: 24px;
        }

        .button2 {
            background-color: #3882f6;
            font-size: 22px;
            color: #e5e7eb;
            border-style: solid;
            border-radius: 8px;
            border-color: #f9faf8;
            border-width: 4px;
            width: 120px;
            height: 50px;
            font-weight: 800;
        }




footer {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1f2937;
    color: #f9faf8;
    min-height: 5vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}